@model PaginatedList<Auctions.Models.Listing>

@{
    ViewData["Title"] = "Index";
}

<h2>Annonces actives</h2>

@foreach(var listing in Model)
{
    <div class="container" style="background-color: rgba(138, 129, 133, 0.6); margin-top:50px; margin-bottom: 50px; padding: 20px; border-radius:10px;">
        <div class="row">
            <div class="col col-xs-6 col-lg-5">
                @if (!string.IsNullOrEmpty(listing.ImagePath))
                {
                    <img src="~/Images/@listing.ImagePath" style="max-width: 400px; max-height: 400px;" />
                }
                else
                {
                    <img src="~/Images/placeholder.jpg" style="max-width: 400px; max-height: 400px;" />
                }
            </div>
            <div class="col col-xs-6 col-lg-7">
                <h5><a asp-action="Details" asp-route-id="@listing.Id" style="color: black;">@listing.Title</a></h5>
                <div>@listing.Description</div>
                <div>Enchère: $@listing.Price.ToString("N2")</div>
                <div>Publiée par: @(listing.User?.UserName ?? "Utilisateur inconnu")</div>
            </div>
        </div>
    </div>
}
@if(!Model.Any())
{
    <p>Aucune annonce active</p>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex justify-content-center">
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Précédente
    </a>
    <div class="btn" style="cursor: default">
        Page @Model.PageIndex de @Model.TotalPages
    </div>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Suivante
    </a>
</div>
