@model PaginatedList<Auctions.Models.Bid>

@{
    ViewData["Title"] = "Mes enchères";
}

<h2>Mes enchères</h2>

@foreach (var bid in Model)
{
    <div class="container" style="background-color: rgba(138, 129, 133, 0.6); margin-top:50px; margin-bottom: 50px; padding: 20px; border-radius:10px;">
        <div class="row">
            <div class="col col-xs-6 col-lg-5">
                <img src="~/Images/@bid.Listing.ImagePath" style="max-width: 400px; max-height: 400px;" />
            </div>
            <div class="col col-xs-6 col-lg-7">
                <h5><a asp-action="Details" asp-route-id="@bid.Listing.Id" style="color: black;">@bid.Listing.Title</a></h5>
                <div>@bid.Listing.Description</div>
                <div>Enchère: $@bid.Listing.Price.ToString("N2")</div>
                <div>Publiée par: @bid.Listing.User?.UserName ?? "Utilisateur inconnu")</div>
            </div>
        </div>
    </div>
}
@if (!Model.Any())
{
    <p>Aucune enchère</p>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex justify-content-center">
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Précédente
    </a>
    <div class="btn" style="cursor: default">
        Page @Model.PageIndex de @Model.TotalPages
    </div>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Suivante
    </a>
</div>
